beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
idna==2.8
lxml==4.4.2
play-scraper==0.6.0
praw==6.4.0
prawcore==1.0.1
pycparser==2.19
pyOpenSSL==19.1.0
requests==2.22.0
requests-futures==1.0.0
six==1.13.0
soupsieve==1.9.5
update-checker==0.16
urllib3==1.25.7
websocket-client==0.57.0
